<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="getGoal"/>
      <button @click="addGoal">Add Goal</button>
      <p v-if="goals.length === 0">goals have been added yet - please start adding some!</p>
      <ul v-else>

        <!-- :key key속성을 바인딩해주면 요소의 고유 식별 용도로 작용한다. -->
        <li v-for="(goal, index) in goals" @click="removeGoal(index)" :key="goal">
          <p>{{ goal }} - {{ index }}</p>

          <!-- @click.stop = 부모의 event를 막아준다. -->
          <input type="text" @click.stop>
        </li>
      </ul>

      <!-- 숫자를 이용한 v-for문 -->
      <!-- <ul>
        <li v-for="num in 10">{{ num }}</li>
      </ul> -->

      <!-- 객체의 v-for문 -->
      <!-- <ul>
        <li v-for="(value, key, index) in {name: 'jun', age: 29}">{{ key }}: {{ value }} - {{ index }}</li>
      </ul> -->
    </section>
  </body>
</html>
